.git/
.github/
.husky/
.vscode/
coverage/
docker/
docs/
node_modules/
tests/
!tests/.htpasswd
.env*
.gitignore
.lintstagedrc.js
.nvmrc
.prettierrc
docker-compose.ci.yml
docker-compose.yml
eslint.config.mjs
jest.config.mjs
