# ttg-server envs
LOG_LEVEL="debug"

## AI APIs
CF_ACCOUNT_ID="Your Cloudflare account ID"
CF_WORKERS_AI_API_TOKEN="Your Cloudflare AI Gateway token"
CF_TEXT_GENERATION_MODEL="@cf/meta/llama-3.2-1b-instruct"
CF_TEXT_TO_IMAGE_MODEL="@cf/stabilityai/stable-diffusion-xl-base-1.0"

## S3
AWS_REGION="na-east-2"
AWS_S3_ENDPOINT_URL="http://localhost:9000"
AWS_S3_BUCKET_NAME="ttg"
AWS_ACCESS_KEY_ID="minio-username"
AWS_SECRET_ACCESS_KEY="minio-password"

## Prisma ORM
DATABASE_URL="postgresql://postgres:mypassword@localhost:5432/postgres?schema=public"

## .htpasswd file for HTTP Basic Auth
HTPASSWD_FILE="./tests/.htpasswd"

## Amazon Cognito credentials for HTTP Bearer Auth
## AWS_COGNITO_POOL_ID="xxxxxxxxxxxxxxxxx"
## AWS_COGNITO_CLIENT_ID="xxxxxxxxxxxxxxxxx"

## Supabase Auth
# SUPABASE_PROJECT_URL="xxxxxxxxxxxxxxxxx"
# SUPABASE_SERVICE_ROLE_KEY="xxxxxxxxxxxxxxxxx"
